@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&family=Poppins:wght@200;300;400;500;600&family=Roboto:ital,wght@0,900;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&family=Philosopher:wght@700&family=Poppins:wght@200;300;400;500;600&family=Roboto:ital,wght@0,900;1,300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* overflow-x:hidden; */
}
 {
  background: white;
}
:root {
  --yellow: #f74900;
  --black: #111;
  --white: #fff;
  --light-color: #666;
  --light-bg: #eee;
  --box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.1);
  /* --box-shadow:0.5rem 1rem rgba(0,0,0,.1); */
  --border: 0.1rem solid rgba(0, 0, 0, 0.3);
}

/* Using CSS */
.custom-w-100 {
  width: -100%;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  /* transition:all .2s linear; */
}

@maxin grid($val) {
  dislay: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap: 2rem;
}

@minin tittleText($tittleSize) {
  font-size: $tittleSize;
  color: var(--black);
  text-transform: capitalize;
}

@minin graphText($graphSize) {
  font-size: $graphSize;
  color: var(--light-color);
  line-height: 1.5;
}

@minin iconsBox() {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  background: var(--light-bg);
  color: var(--black);
  cursor: pointer;
  text-align: center;

  &:hover {
    background: var(--black);
    color: var(--white);
  }
}

html {
  font-size: 140%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 1rem;

  &::-webkit-scrollbar {
    width: 0rem;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--yellow);
  }
}

/* section  */
section {
  padding: 2rem 5%;
}
.heading {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  color: var(--black);
  text-transform: capitalize;
  padding-left: 1rem;
  border-left: 0.3rem solid var(--yellow);
  font-weight: 600;
  margin-top: 10px;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1.3rem;
  background: var(--black);
  color: var(--white);
  cursor: pointer;
  font-size: 0.7rem;
  font-weight: 600;
  text-transform: capitalize;

  &:hover {
    background: var(--yellow);
    color: #fff;
  }
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: var(--box-shadow);

  /* padding */
  padding: 0.6rem 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  background: var(--white);

  .logo {
    @include tittleText(1rem);
    font-size: 1.24rem;
    color: var(--black);
    text-transform: capitalize;
    font-family: "Philosopher", sans-serif;
    font-weight: normal;

    .sspan {
      color: var(--yellow);
      font-size: 1.4rem;
      /* font-family: "Montserrat", sans-serif; */
      font-family: "Philosopher", sans-serif;
      /* font-family: "Poppins", sans-serif; */
      /* font-family: "Roboto", sans-serif; */
    }
  }
  .navbar a {
    /* @include tittleText(2rem); */
    font-size: 0.8rem;
    color: var(--black);
    text-transform: capitalize;
    margin: 0 1rem;

    &:hover {
      color: var(--yellow);
    }
  }
  .iconss div {
    /* @include iconBox(); */
    height: 2rem;
    width: 2rem;
    line-height: 2rem;
    font-size: 1rem;
    background: var(--light-bg);
    color: var(--black);
    cursor: pointer;
    text-align: center;
    margin-left: 0.3rem;
    &:hover {
      background: var(--black);
      color: var(--white);
    }
  }
  #menu-btn {
    display: none;
  }
}

.contact-info {
  position: fixed;
  top: 0;
  right: 0;
  width: 17rem;
  background: var(--white);
  box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
  height: 100%;
  text-align: center;
  z-index: 1110;
  padding: 0 1.5rem;
  padding-top: 2.5rem;

  #close-contact-info {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    cursor: pointer;
    font-size: 1.7rem;
    color: var(--black);
    transition: transform 0.1s linear;
  }

  #close-contact-info:hover {
    transform: rotate(90deg);
    /* color:red; */
  }

  .info {
    padding: 0.5rem 0;
    .ii {
      height: 2.5rem;
      width: 2.5rem;
      line-height: 2.5rem;
      font-size: 1rem;
      background: var(--light-bg);
      color: var(--black);
      cursor: pointer;
      text-align: center;

      &:hover {
        background: var(--black);
        color: var(--white);
      }
      margin-bottom: 0.2rem;
    }

    .h3 {
      font-size: 0.9rem;
      color: var(--black);
      text-transform: capitalize;
      margin-bottom: 0.5rem;
      margin-top: 0.2rem;
    }
    .pp {
      font-size: 0.8rem;
      color: var(--light-color);
      line-height: 1.5;
    }
  }
  .share {
    padding-top: 1rem;
    border-top: var(--border);
    margin-top: 1.5rem;
    .a1 {
      height: 2.5rem;
      width: 2.5rem;
      line-height: 2.5rem;
      font-size: 1rem;
      background: var(--light-bg);
      color: var(--black);
      cursor: pointer;
      text-align: center;

      &:hover {
        background: var(--black);
        color: var(--white);
      }
      margin: 0 0.2rem;
    }
  }
}

.home {
  padding: 0;
  .slide {
    max-height: 30rem;
    min-height: 30rem;
    display: flex;
    align-items: center;
    position: relative;
    background-size: cover !important;
    background-position: center !important;
    /* filter:brightness(90%); */

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: linear-gradient(90deg, #4e4b49, transparent);
      /* #4e4b49 */
      filter: brightness(60%);
    }
    .content {
      width: 50rem;
      position: relative;

      .h3 {
        font-size: 1.4rem;
        /* color: var(--light-color); */
        color: white;
        text-transform: capitalize;
        text-transform: uppercase;
        font-weight: 900;
      }
      .p3 {
        font-size: 1rem;
        font-weight: 600;
        /* color: var(--yellow); */
        color: #fff;
        filter: brightness(85%);
        line-height: 1.8;
        padding-top: 0.5rem;
      }
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    top: initial;
    bottom: 0;
    left: initial;
    right: 0;
    height: 3rem;
    width: 3rem;
    line-height: 7rem;
    background: var(--white);
    margin: 0.5rem;
  }

  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    background: var(--yellow);
  }
  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 1.5rem;
    color: var(--black);
  }
  .swiper-button-prev {
    right: 3.3rem;
  }
}

.about {
  background: white;
  /* padding-top:10px; */

  .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    /* flex-direction:row; */

    .video {
      flex: 1 1 10rem;
      .img {
        width: 10%;
        /* filter:brightness(30%); */
        /* background: linear-gradient(90deg ,#4e4b49,); */
      }
    }
    .content {
      flex: 1 20rem;
      .h3 {
        font-size: 1.5rem;
        color: var(--black);
        text-transform: capitalize;
      }
      .p {
        font-size: 1rem;
        color: var(--light-color);
        line-height: 1.5;
        padding: 0.3rem 0;
      }
    }
  }
  .box-container {
    margin-top: 1rem;
    /* grid */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    /* grid-gap: 1%; */
    gap: 1rem;
    align-items: flex-end;

    .box {
      text-align: center;
      background: var(--light-bg);
      padding: 1rem 0.8rem;
      /* width:10rem; */
      /* gap:12rem; */
      .h3 {
        font-size: 1.3rem;
        color: var(--black);
        text-transform: capitalize;
      }
      .p {
        font-size: 0.7rem;
        color: var(--light-color);
        line-height: 1.5;
        /* padding-top:0.1rem; */
      }
    }
  }
}

.services {
  background: var(--light-bg);

  .box-continer {
    display: grid;
    grid-gap: 1rem;
    /* grid-template-columns: 20rem 20rem 20rem; */
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    /* gap:2rem; */
    align-items: center;

    .box {
      text-align: center;
      padding: 1rem;
      padding-top: 2rem;
      background: var(--white);
      box-shadow: var(--box-shadow);
      border: var(--border);
      line-height: 2rem;

      &:hover .img {
        transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);

        transform: translateY(-0.5rem);
      }

      .img {
        /* padding:1rem; */
        padding-bottom: 0.2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        height: 100%;
        /* background:red; */
        /* margin-bottom:.5rem; */
        width: 100%;
        /* filter:brightness(95%);  */

        /* margin-left:3.3rem */

        /* display:flex;
        align-items:center;
        justify-content:center; */
      }
      .h3 {
        font-size: 0.9rem;
        color: var(--black);
        text-transform: capitalize;
        padding: 0rem 0;
        font-weight: 500;
      }
      .p {
        font-size: 0.8rem;
        color: var(--light-color);
        line-height: 1.5;
      }
    }
  }
}

.projects {
  background: var(--black);
  .heading {
    color: var(--white);
  }
  .box-container {
    display: grid;
    grid-gap: 0.8rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));

    .box {
      cursor: initial;

      &:hover .image .img {
        transition: transform 0.3s ease;
        transform: scale(1.1);
      }
      .image {
        height: 15rem;
        overflow: hidden;
      }
    }
    .content {
      display: flex;
      /* gap:.5rem; */
      background: var(--white);
      justify-content: space-between;

      .info {
        padding: 0.5rem 1rem;

        .h3 {
          font-size: 0.9rem;
          color: var(--black);
          text-transform: capitalize;
          /* padding-top:50%; */
        }
        .p {
          font-size: 0.7rem;
          color: var(--light-color);
          /* line-height:1.5; */
        }
      }
      .i {
        width: 3rem;
        font-size: 1.5rem;
        background: var(--yellow);
        color: var(--white);
        cursor: pointer;
        text-align: center;
        justify-content: center;
        align-items: center;
        line-height: 3rem;
      }
    }
  }
}

.reviews {
  background: white;
  padding-top: 5%;

  /* padding-bottom:6%; */
  .slide {
    .p {
      padding: 0.8rem;
      background: var(--light-bg);
      position: relative;

      font-size: 0.8rem;
      color: var(--light-color);
      line-height: 1.5;

      &::before {
        position: absolute;
        bottom: -1rem;
        left: 2rem;
        height: 2rem;
        width: 2rem;
        background: var(--light-bg);
        transform: rotate(45deg);
      }
    }
    .user {
      display: flex;
      align-items: center;
      gap: 0.4rem;
      margin-bottom: 0.5rem;

      .img {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
      }
      .h3 {
        font-size: 0.9rem;
        color: var(--black);
        text-transform: capita3ize;
        margin-bottom: -0.5rem;
      }
      .stars {
        /* padding-top:.5rem; */

        .i {
          font-size: 0.8rem;
          color: var(--yellow);
        }
      }
    }
  }
}

/* .contact{
  background:var(--black);

  .heading{
     color:var(--white);
  }
  .row{
     dislay:flex;
     flex-wrap:wrap;
     gap:3rem;
     flex-direction:row;

     .map{
      flex:1 1 41rem;
      width:100%;
      }
    .form{
      flex:1 1 41rem;
  
    }
  }
  
}

 */

/* sudhakat */
/* .contact {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;

  width: 100%;
  display: flex;
  flex-direction: column;
  color: #fff;
  background: var(--black);
  justify-content: center;

  .heading {
    color: #fff;
  }
}
.contact-container {
  padding-top: 30px;

  margin: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  background: #363953;
  box-shadow: 0 0 1rem hsla(0 0 0/16%);
  border-radius: 0.5rem;
  overflow: hidden;
}
.form-container {
  padding: 20px;
}
.form-container h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.contact-form {
  display: grid;
  row-gap: 1rem;
  padding-right: 40px;
  padding-bottom: 40px;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  border: none;
  outline: none;
  background: #2c2f48;
  padding: 10px;
  font-size: 0.9rem;
  color: #fff;
  border-radius: 0.4rem;
}
.contact-form textarea {
  resize: none;
  height: 200px;
}
.contact-form .send-button {
  border: none;
  outline: none;
  background: #00dbde;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}
.contact-form .send-button:hover {
  background: hsl(181, 100%, 44%, 0.8);
  transition: 0.3s all linear;
}
.map iframe {
  width: 100%;
  height: 100%;
  padding: 20px 20px;
}

@media (max-width: :964px) {
  .contact-container {
    margin: 0 auto;
    width: 90%;
  }
}
@media (max-width: 700px) {
  .contact-container {
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-top: 20rem !important;
  }
  .map iframe {
    height: 400px;
  }
} */

//vignesh

.contact {
  background: var(--black);

  /* background-color:white; */
  background: white;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* color: #fff; */
  /* background: var(--black); */
  justify-content: center;
}
.contact-container {
  margin: auto;
  width: 100%;
  display: flex;
  gap: 1.5rem;
  /* background:#817878; */
  background: #363953;
  /* background:var(--light-color); */
  box-shadow: 0 0 1rem hsla(0 0 0/16%);
  border-radius: 0.5rem;
}
.map {
  width: 100%;
}
.form-container {
  width: 100%;
  padding: 30px 0;
}
.form-container h3 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--white);
}
.contact-form {
  display: grid;
  row-gap: 1rem;
  padding-right: 40px;
  padding-bottom: 10px;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  border: none;
  outline: none;
  background: #2c2f48;
  padding: 10px;
  font-size: 0.7rem;
  color: #fff;
  border-radius: 0.4rem;
}
.contact-form textarea {
  resize: none;
  height: 200px;
}
.contact-form .send-button {
  border: none;
  outline: none;
  background: #00dbde;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}
.contact-form .send-button:hover {
  background: hsl(181, 100%, 44%, 0.8);
  transition: 0.3s all linear;
}
.map iframe {
  width: 100%;
  height: 100%;
  padding: 20px 20px;
}
@media (max-width: 700px) {
  .contact-container {
    display: block !important;
  }
  .map iframe {
    height: 25rem;
  }
  .form-container {
    margin-left: 20px;
  }
  .reviews {
    .heading {
      /* margin-bottom:20px; */
    }
  }
}

.footer-top-2-img {
  min-width: 35px;
}
.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 20px;
}
.footer-top-1 {
  width: 300px;
}
.footer-top-1 img {
  margin-top: 20px;
  animation: bounce 3s infinite;
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.footer-top-2 {
  display: flex;
  align-items: center;
  margin-left: 20px;
  /* justify-content: space-between; */
}
.footer-top-3 {
  margin-left: 20px;
  margin-right: 20px;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width:100%; */
}
.footer-bottom div {
  text-align: center;
  font-size: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

@media (max-width: 700px) {
  .footer {
    margin: 0;
    overflow: hidden;
  }
  .footer-top {
    display: block;
    padding-top: 60px;

    font-size: 12px;
  }
  .footer-top-1 {
    width: auto;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer-top-1 p {
    max-width: 300px;
    min-width: auto;
  }

  .footer-top-2 {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer-top-3 {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer-top-3-mail {
    width: auto;
  }
  .footer-bottom {
    display: block;
  }
  .footer-bottom p {
    width: auto;
  }
  .footer-bottom {
    padding: 30px 20px;
  }
}

.footer {
  .footer-logo {
    width: 23%;
  }
  .footerlogotext {
    font-size: 18px;
    width: 100%;
  }
  .footer-top-2 {
    .p {
      font-size: 16px;
    }
  }
  .footer-top-3 {
    .p {
      font-size: 16px;
    }
    .ad-head {
      font-size: 13px;
      padding-bottom: 0.5rem;
    }
    .img {
      padding-bottom: 0.5rem;
    }
  }
}
/* .footer {
  .copyright-content {
    background: #262626;
    color: white;
    height: 6rem; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footerContent {
    .footerContent2 {
      padding-top: 9rem; 
      color: #cbd5e0; 
      display: flex;
      flex-direction: row; 
      align-items: center;
      justify-content: center;
      gap: 2rem; 
      /* background: red; 

      .col1 {
        text-align: center; 
        display: flex;
        flex-direction: column; 
        align-items: center;
        font-weight: 600;

        .p {
          font-size: 10px;
        }
      }
      .col2 {
        width: 25%;
        gap: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 0.875rem;

        .socialmedia1 {
          display: flex;
          flex-direction: column;

          .sm-1 {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-items: flex-end;
            margin-bottom: 2px;
          }
          .sm-2 {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-items: flex-end;
          }
        }
        .socialmedia2 {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          .sm-1 {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-items: flex-start;
            margin-bottom: 2px;
          }
          .sm-2 {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-items: flex-start;
          }
        }
      }
      .col-3 {
        width: 25%; 
        display: flex;
        flex-direction: column; 
        gap: 1rem;
        text-align: center;
        align-items: center;

      }
    }
  }
} */

.GalCon {
  background-color: white;
}
.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
  padding: 10px 10px;
  background-color: white;
}

.gallery .pics {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  cursor: pointer;
  margin-bottom: 12px;
}

.gallery .pics:hover {
  filter: opacity(0.8);
}

@media (max-width: 768px) {
  .gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    /* padding:0px; */
    gap: 10px;
  }
}
@media (max-width: 480px) {
  .gallery {
    gap: 8px;
  }
}
/* @media(max-width:480px){
  .gallery{
    -webkit-column-count:1;
    -moz-column-count:1;
    column-count:1;
    -webkit-column-width:100%;
    -moz-column-width:100%;
    column-width:100%;
  }
} */

.model {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  transition: opacity 0.4s ease, visibility 0.4s ease,
    transform 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  overflow: hidden;
  z-index: 999;
}
.model.open {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
.model img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 20px 0 20px;
  margin: 0 auto;
}
.close-icon {
  positiion: fixed;
  top: 10px;
  right: 10px;
  width: 10rem;
  height: 2rem;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #ffffff;
  cursor: pointer;
}
.image-text {
  color: #ffffff; /* Text color */
  text-align: center; /* Center the text */
  margin-top: 10px; /* Adjust the spacing between image and text */
}

/* media queries */

/* @media (max-width: 1300px) {
  .home {
    .content {
      .h3 {
        padding-top: 0%;
      }
    }
  }
} */
@media (max-width: 1800px) {
  .header {
    padding: 1rem 2rem;
  }
  section {
    padding: 3rem 5%;
  }
  .home {
    .content {
      .h3 {
        padding-top: 30%;
      }
    }
  }
}

@media (max-width: 991px) {
  html {
    font-size: 96%;
    .header {
      padding: 3.5% 7%;

      #menu-btn {
        display: inline-block;
      }
      .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background: var(--white);
        border-top: var(--border);
        border-bottom: var(--border);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

        &.active {
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
        .Anc {
          display: block;
          margin: 2rem;
          font-weight: bold;
        }
        .gal {
          font-size: 14px;
          background: var(--yellow);
          padding: 0.3rem;
          border-radius: 2%;
          width: 5rem;
          text-align: center;
          color: #ffffff;
          /* margin:0; */
        }
      }
    }
    .home {
      .home-slider mySwiper {
        .swiper-slide slide {
          .content {
            .p3 {
              line-height: 5rem;
            }
          }
        }
      }
    }
    .home {
      .content {
        .h3 {
          padding-top: 30%;
        }
      }
    }
    .about {
      /* background:white; */
      padding-top: 8%;
    }
  }
  section {
    padding: 1rem 1rem;
  }
  .reviews {
    padding: 15px;
    padding-top: 20px;
  }
  .footer {
    .footer-bottom div {
      text-align: center;
      font-size: 10px;
      padding: 0;
      margin: 0;
    }
  }
}

@media (max-width: 768px) {
  .header {
  }
  .home {
    .content {
      .h3 {
        padding-top: 50%;
        /* padding-bottom:0; */
      }
    }
  }
  .about {
    .row {
      display: flex;
      flex-direction: column;
      .video {
        padding: 0rem;
      }
    }
  }
  .footer {
    .footer-logo {
      width: 23%;
    }
    .footerlogotext {
      font-size: 12px;
      width: 80%;
    }
    .footer-top-2 {
      .p {
        font-size: 12px;
      }
    }
    .footer-top-3 {
      .p {
        font-size: 12px;
      }
      .ad-head {
        font-size: 13px;
        padding-bottom: 0.5rem;
      }
      .img {
        padding-bottom: 0.5rem;
      }
    }
    .footer-bottom {
      padding: 20px 20px;
    }
  }
}
@media (max-width: 450px) {
  html {
    font-size: 96%;
  }
  .footer {
    .footer-bottom {
      padding: 10px 20px;
    }
  }
}

/* * {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
} */
/* :root {
	--hue: 223;
	--bg: hsl(var(--hue),90%,90%);
	--fg: hsl(var(--hue),90%,10%);
	--trans-dur: 0.3s;
	font-size: calc(16px + (24 - 16) * (100vw - 320px) / (2560 - 320));
} */
/* body {
	background-color: var(--bg);
	color: var(--fg);
	display: flex;
	font: 1em/1.5 sans-serif;
	height: 100vh;
	transition:
		background-color var(--trans-dur),
		color var(--trans-dur);
} */

.loading-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  /* padding-bottom:5rem; */
  transform: translate(-50%, -50%);
}
.pl {
  display: block;
  margin: auto;
  width: 16em;
  height: auto;
}
.pl line {
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.pl__line1,
.pl__line9 {
  animation-name: line1;
}
.pl__line2,
.pl__line8 {
  animation-name: line2;
}
.pl__line3,
.pl__line7 {
  animation-name: line3;
}
.pl__line4,
.pl__line6 {
  animation-name: line4;
}
.pl__line5 {
  animation-name: line5;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  /* :root {
		--bg: hsl(var(--hue),90%,10%);
		--fg: hsl(var(--hue),90%,90%);
	} */
}

/* Animations */
@keyframes line1 {
  from,
  8% {
    stroke-dashoffset: 31.99;
    transform: translate(0, 16px);
  }
  18% {
    stroke-dashoffset: 16;
    transform: translate(0, 8px);
  }
  28% {
    stroke-dashoffset: 31.99;
    transform: translate(0, 16px);
  }
  38% {
    stroke-dashoffset: 0;
    transform: translate(0, 0);
  }
  48% {
    opacity: 1;
    stroke-dashoffset: 31.99;
    transform: translate(0, 16px);
  }
  53% {
    opacity: 0;
    stroke-dashoffset: 31.99;
    transform: translate(8px, 16px);
  }
  56% {
    animation-timing-function: steps(1, start);
    opacity: 0;
    stroke-dashoffset: 32;
    transform: translate(0, 16px);
  }
  60% {
    animation-timing-function: ease-out;
    opacity: 1;
    stroke-dashoffset: 32;
    transform: translate(0, 16px);
  }
  70% {
    animation-timing-function: ease-in-out;
    stroke-dashoffset: 0;
    transform: translate(0, 0);
  }
  80% {
    stroke-dashoffset: 31.99;
    transform: translate(0, 16px);
  }
  90% {
    stroke-dashoffset: 16;
    transform: translate(0, 8px);
  }
  to {
    stroke-dashoffset: 31.99;
    transform: translate(0, 16px);
  }
}
@keyframes line2 {
  from,
  6% {
    stroke-dashoffset: 31.99;
    transform: translate(0, 16px);
  }
  16% {
    stroke-dashoffset: 16;
    transform: translate(0, 8px);
  }
  26% {
    stroke-dashoffset: 31.99;
    transform: translate(0, 16px);
  }
  36% {
    stroke-dashoffset: 0;
    transform: translate(0, 0);
  }
  46% {
    opacity: 1;
    stroke-dashoffset: 31.99;
    transform: translate(0, 16px);
  }
  51% {
    opacity: 0;
    stroke-dashoffset: 31.99;
    transform: translate(8px, 16px);
  }
  54% {
    animation-timing-function: steps(1, start);
    opacity: 0;
    stroke-dashoffset: 32;
    transform: translate(0, 16px);
  }
  58% {
    animation-timing-function: ease-out;
    opacity: 1;
    stroke-dashoffset: 32;
    transform: translate(0, 16px);
  }
  68% {
    animation-timing-function: ease-in-out;
    stroke-dashoffset: 0;
    transform: translate(0, 0);
  }
  78% {
    stroke-dashoffset: 31.99;
    transform: translate(0, 16px);
  }
  88% {
    stroke-dashoffset: 16;
    transform: translate(0, 8px);
  }
  98%,
  to {
    stroke-dashoffset: 31.99;
    transform: translate(0, 16px);
  }
}
@keyframes line3 {
  from,
  4% {
    stroke-dashoffset: 31.99;
    transform: translate(0, 16px);
  }
  14% {
    stroke-dashoffset: 16;
    transform: translate(0, 8px);
  }
  24% {
    stroke-dashoffset: 31.99;
    transform: translate(0, 16px);
  }
  34% {
    stroke-dashoffset: 0;
    transform: translate(0, 0);
  }
  44% {
    opacity: 1;
    stroke-dashoffset: 31.99;
    transform: translate(0, 16px);
  }
  49% {
    opacity: 0;
    stroke-dashoffset: 31.99;
    transform: translate(8px, 16px);
  }
  52% {
    animation-timing-function: steps(1, start);
    opacity: 0;
    stroke-dashoffset: 32;
    transform: translate(0, 16px);
  }
  56% {
    animation-timing-function: ease-out;
    opacity: 1;
    stroke-dashoffset: 32;
    transform: translate(0, 16px);
  }
  66% {
    animation-timing-function: ease-in-out;
    stroke-dashoffset: 0;
    transform: translate(0, 0);
  }
  76% {
    stroke-dashoffset: 31.99;
    transform: translate(0, 16px);
  }
  86% {
    stroke-dashoffset: 16;
    transform: translate(0, 8px);
  }
  96%,
  to {
    stroke-dashoffset: 31.99;
    transform: translate(0, 16px);
  }
}
@keyframes line4 {
  from,
  2% {
    stroke-dashoffset: 31.99;
    transform: translate(0, 16px);
  }
  12% {
    stroke-dashoffset: 16;
    transform: translate(0, 8px);
  }
  22% {
    stroke-dashoffset: 31.99;
    transform: translate(0, 16px);
  }
  32% {
    stroke-dashoffset: 0;
    transform: translate(0, 0);
  }
  42% {
    opacity: 1;
    stroke-dashoffset: 31.99;
    transform: translate(0, 16px);
  }
  47% {
    opacity: 0;
    stroke-dashoffset: 31.99;
    transform: translate(8px, 16px);
  }
  50% {
    animation-timing-function: steps(1, start);
    opacity: 0;
    stroke-dashoffset: 32;
    transform: translate(0, 16px);
  }
  54% {
    animation-timing-function: ease-out;
    opacity: 1;
    stroke-dashoffset: 32;
    transform: translate(0, 16px);
  }
  64% {
    animation-timing-function: ease-in-out;
    stroke-dashoffset: 0;
    transform: translate(0, 0);
  }
  74% {
    stroke-dashoffset: 31.99;
    transform: translate(0, 16px);
  }
  84% {
    stroke-dashoffset: 16;
    transform: translate(0, 8px);
  }
  94%,
  to {
    stroke-dashoffset: 31.99;
    transform: translate(0, 16px);
  }
}
@keyframes line5 {
  from {
    stroke-dashoffset: 31.99;
    transform: translate(0, 16px);
  }
  10% {
    stroke-dashoffset: 16;
    transform: translate(0, 8px);
  }
  20% {
    stroke-dashoffset: 31.99;
    transform: translate(0, 16px);
  }
  30% {
    stroke-dashoffset: 0;
    transform: translate(0, 0);
  }
  40% {
    stroke-dashoffset: -16;
    transform: translate(0, 15px);
  }
  50% {
    stroke-dashoffset: -31;
    transform: translate(0, -48px);
  }
  58% {
    stroke-dashoffset: -31;
    transform: translate(0, 8px);
  }
  65% {
    stroke-dashoffset: -31.99;
    transform: translate(0, -24px);
  }
  71.99% {
    animation-timing-function: steps(1);
    stroke-dashoffset: -31.99;
    transform: translate(0, -16px);
  }
  72% {
    animation-timing-function: ease-in-out;
    stroke-dashoffset: 31.99;
    transform: translate(0, 16px);
  }
  82% {
    stroke-dashoffset: 16;
    transform: translate(0, 8px);
  }
  92%,
  to {
    stroke-dashoffset: 31.99;
    transform: translate(0, 16px);
  }
}
